
:root {
    --yellow: #f3b70f;
    --black: #000;
 
  }

@font-face{
    font-family: cursiva;
    src:url(tipos/Parisienne-Regular.ttf)
}

@font-face{
    font-family: condensada;
    src:url(tipos/AsapCondensed-Regular.ttf)
}


body{
    color: black;
    background-color: #fff4d4;
}
 

.colorcomplementario{
    background-color: var(--yellow);
    color: black!important;
}

a{
    color: black!important;
}

 

.nosotros{
    font-family: condensada, sans-serif;
    font-size: 1.2em;
    margin-left: 8%;
    margin-right: 8%;
}

h2{
    font-family: cursiva, Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-bottom: 5%;
}

label, .tipografia-nav,  footer, button, table,.list-group, span{
    font-family: condensada, sans-serif;
    

}

 
 
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: var(--yellow)!important;
    border:var(--yellow)!important;
}

.btn-primary{
    border:var(--yellow)!important;
}

.thumbnail{
    width: 100%;
}



iframe{
    width: 100%
  }